<%= form_for(@blog_post) do |f| %>
  <% if @blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% @blog_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.text_field :title, placeholder: "Title It!", class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="field form-group">
    <%= f.text_area :blog_entry, placeholder: "Say what you will...", class: "form-control", rows: 10 %>
  </div>
  <div class="actions form-group">
    <%= f.submit "Post It!", class: "btn btn-primary" %>
  </div>
<% end %>
